* {
    margin: 0;
    padding: 0;
    outline: none;
     transition: background 2s, color 1s;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.header {
    border-style: solid;
    border-width: 1px;
    border-color: #ececec;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
    height: 100px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* logotype header */

a img {
    margin-right: 15px;
}

#logo {
    font-family: Lato;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    /*не могу поднять слова и поле с текстом. кнопка поиска почему-то встала по центру, а эти поля нет.*/
}

#logo img {
    position: relative;
    top: 15px;
}

#d {
    margin-right: 40px;
    font-family: Lato;
    color: #f16d7f;
    font-size: 27px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
}

/* search header */

.header-left {
    display: flex;
}

.header-left details {
    margin-top: 32px;
}

.header-left input {
    margin-top: 32px;
}

.header-left button {
    margin-top: 32px;
}

.header-left details {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    box-sizing: border-box;
    background: -webkit-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: -moz-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: -o-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: -ms-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    width: 87px;
    height: 39px;
    position: relative;
    left: 5px;
    line-height: 35px;
}

.header-left details summary::-webkit-details-marker {
    position: relative;
    left: 70px;
    color: #838383;
    width: 6px;
    height: 9px;
}

.header-left details[open] summary::-webkit-details-marker {
    position: relative;
    left: 66px;
    width: 9px;
    height: 6px;
}

.header-left details h2 {
    font-family: Lato;
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    display: block;
    border-bottom: 2px solid #e8e8e8;
    text-decoration: none;
}

.header-left  details a {
    font-family: Lato;
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
}

.header-left  details li {
    list-style-type: none;
    margin-bottom: 5px
}

.sub-details1 {
    display: block;
    width: 262px;
    background-color: white;
    text-indent: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08);
    position: relative;
    top: 5px;
    z-index: 2;
}

.sub-details1 a {
    display: block;
    width: 262px;
}

.sub-details1 li:hover {
    background-color: #f16d7f;
}

.browse-header p {
    display: flex;
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    margin-left: 15px;
    line-height: 39px;
}

.browse-header img {
    display: flex;
    position: relative;
    top: -23px;
    left: 65px;
}

#zoom {
    width: 38px;
    height: 39px;
    background-color: #ffffff;
    position: relative;
    right: 1px;
    border: 1px solid #e6e6e6;
}

.srch {
    font-family: Lato;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    background-color: #ffffff;
    width: 300px;
    height: 39px;
    text-indent: 10px;
    padding-right: 5px;
    border: 1px solid #e6e6e6;
}

#bag {
    margin-right: 20px;
    position: relative;
    top: 15px;
}

.bag-details {
    width: 32px;
    height: 29px;
}
/* header right part  */

.header-right #myAcc {
    background-color: #f16d7f;
    width: 130px;
    height: 39px;
    border: none;
    position: relative;
    left: 55px;
    bottom: 17px;
}


.header-right #myAcc a {
    font-family: Lato;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 37px;
    text-align: right;
    text-decoration: none;
    text-align: center;
}


.header-right .bag-details summary::-webkit-details-marker {
    display: none;
}

.header-right .bag-details[open] summary::-webkit-details-marker {
   display: none;
}

.sub-details2 {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.08);
    width: 262px;
    height: 446px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 70px;
}

.header-right .bag-details figure {
    width: 90%;
    height: 90px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 5px;
    border-bottom: 3px solid #e6e6e6;
}

.figure1 {
    position: relative;
}
.figure1 h2 a {
    font-family: Lato;
    color: #222222;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    position: absolute;
    left: 89px;
}

.figure1 #stars {
    color: #e4af48;
    font-size: 12px;
    font-weight: 400;
    height: 12px;
    position: absolute;
    top: 35px;
    left: 90px;
}

.figure1 p {
    font-family: Lato;
    color: #f16d7f;
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    top: 70px;
    left: 90px;
}


.figure1 #cross {

    color: #c0c0c0;
    font-size: 16px;
    font-weight: 400;
    width: 15px;
    height: 15px;
    position: absolute;
   right: 30px;
    top: 30px;
}


.figure2 {
    position: relative;
}
.figure2 h2 a {
    font-family: Lato;
    color: #222222;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    position: absolute;
    left: 89px;
}

.figure2 #stars {
    color: #e4af48;
    font-size: 12px;
    font-weight: 400;
    height: 12px;
    position: absolute;
    top: 35px;
    left: 90px;
}

.figure2 p {
    font-family: Lato;
    color: #f16d7f;
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    top: 70px;
    left: 90px;
}


.figure2 #cross {

    color: #c0c0c0;
    font-size: 16px;
    font-weight: 400;
    width: 15px;
    height: 15px;
    position: absolute;
   right: 30px;
    top: 30px;
}


.price {
    width: 228px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    font-family: Lato;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    background-color:
}

.check {
    width: 225px;
    height: 50px;
    font-family: Lato;
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #f16d7f;
    box-sizing: border-box;
    background-color: #ffffff;
}

.check:hover {
    background-color: #f8efef;
}

.gotocart {
    width: 225px;
    height: 50px;
    font-family: Lato;
    color: #4a494a;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    box-sizing: border-box;
    background-color: #ffffff;
}

.gotocart:hover {
    background-color: #f8efef;
}

.header-right details summary::-webkit-details-marker {
    position: relative;
    left: 105px;
    color: #ffffff;
    width: 6px;
    height: 9px;
}

.header-right details[open] summary::-webkit-details-marker {
    width: 9px;
    height: 6px;
}
/* menu*/

.nav-menu {
    background-color: #fff;
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
}

.menu > li {
    list-style-type: none;
    border-bottom: 3px solid;
    border-bottom-color: #ffffff;
}

.menu > li:hover {
    border-bottom: 3px solid;
    border-bottom-color: #f16d7f;
    color: #f16d7f;
}

.menu >li > a {
    font-family: Lato;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    padding: 19px 19px 22px;
    display: block;
}

.menu >li > a:hover {
    color: #f16d7f;
}

.menu > li:hover .mega {
    display: flex;
}

.menu > li:hover:last-child .mega {
    position: absolute;
    right: 100px;
}

.menu > li:hover:last-child .mega .arrow {
    position: absolute;
    left: 350px;
}

.mega {
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #777;
    position: absolute;
    padding: 25px;
    display: none;
    z-index: 2;
}

.arrow {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #fff;
    top: -9px;
    left: 50px;
    transform: rotate(45deg);
    border-top: 1px solid #777;
    border-left: 1px solid #777;
}

.mega-flex {
    width: 237px;
    margin-right: 45px;
}

.mega-flex:last-child {
    margin-right: 0;
}

.mega h3 {
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    border-bottom: 2px solid #e8e8e8;
    padding-bottom: 6px;
    margin-bottom: 15px;
}

.heading-in-menu {
    margin-top: 30px;
}

.mega li {
    list-style-type: none;
}

.mega li a {
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.35px;
    text-decoration: none;
}
.mega-flex  li a:hover {
    color: #f16d7f;
}

/* slider part */

.slider {
    background-color: #e8e8e8;
    height: 665px;
}

.dude {
    height: 609px;
    display: flex;
    align-items: center;
    background: url(image/dude.png) -190px -52px;
}

.text-dude {
    border-left: solid 12px #f16d7f;
    padding-left: 10px;
    position: relative;
    top: -40px;
}

.text-dude h2 {
    font-family: Lato;
    color: #222222;
    font-size: 59.95px;
    font-weight: 900;
    text-align: left;
}

.text-dude h3 {
    font-family: Lato;
    color: #222222;
    font-size: 39.96px;
    font-weight: 900;
    text-align: left;
}

/*block of deals */

#fashion {
    font-family: Lato;
    color: #f16d7f;
    font-size: 39.96px;
    font-weight: 900;
    text-align: right;
    transform: scaleY(1.0009);
}

.deal {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.deal2 {
    width: 1140px;
    height: 820px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.men {
    width: 560px;
    height: 540px;
    background: url(image/man.png)
}

.men-text {
    background-color: #fff;
    width: 175px;
    height: 80px;
    position: relative;
    bottom: -25px;
    padding-top: 15px;
    padding-left: 15px;
}

.men-text h3 {
    font-family: Lato;
    color: #f16d7f;
    font-size: 30px;
    font-weight: 900;
    text-align: left;
}

.men-text h4 {
    font-family: Lato;
    color: #222222;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
}

.women {
    width: 560px;
    height: 261px;
    background: url(image/woman.png)
}

.women-text {
    background-color: #ffffff;
    width: 162px;
    height: 82px;
    position: relative;
    top: 25px;
    padding-top: 15px;
    padding-left: 15px;
}

.women-text h3 {
    font-family: Lato;
    color: #f16d7f;
    font-size: 30px;
    font-weight: 900;
    text-align: left;
}

.women-text h4 {
    font-family: Lato;
    color: #222222;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
}

.accesories {
    background-color: #dadad2;
    width: 560px;
    height: 261px;
    margin-top: 16px;
}

.accesories img {
    width: 411px;
    height: 240px;
    position: relative;
    right: -134px;
    top: -78px;
    z-index: 0;
}

.acc-text {
    background-color: #ffffff;
    width: 225px;
    height: 82px;
    position: relative;
    top: 25px;
    padding-top: 15px;
    padding-left: 15px;
    z-index: 2;
}

.acc-text h3 {
    font-family: Lato;
    color: #f16d7f;
    font-size: 30px;
    font-weight: 900;
    text-align: left;
}

.acc-text h4 {
    font-family: Lato;
    color: #222222;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
}

.kids {
    width: 560px;
    height: 542px;
    background: url(image/kiddo.png);
    position: relative;
    bottom: 265px;
}

.kids-text {
    background-color: #ffffff;
    width: 182px;
    height: 82px;
    position: relative;
    top: 25px;
    padding-top: 15px;
    padding-left: 15px;
}

.kids-text h3 {
    font-family: Lato;
    color: #f16d7f;
    font-size: 30px;
    font-weight: 900;
    text-align: left;
}

.kids-text h4 {
    font-family: Lato;
    color: #222222;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
}

/* items columns */

.items-text {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
}

.items-text h2 {
    font-family: Lato;
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    line-height: 54px;
}

.items-text p {
    font-family: Lato;
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
}

.featuredItems {
    display: flex;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1140px;
    height: 820px;
}

.item {
    width: 263px;
    height: 364px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.item img {
    position: absolute;
    z-index: 1;
}

.item:hover #shirt {
    filter: brightness(50%);
}

.item:hover {
    background-color: #ffffff;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
    width: 263px;
    height: 364px;
}

.item-photo:hover .addtocart {
    display: flex;
}

.item-photo:hover .item-photo-background {
    display: block;
}

.item-photo {
    width: 260px;
    height: 279px;
    margin-bottom: 15px;
}

.item-photo-background {
    display: none;
    background-color: rgba(58, 56, 56, 0.83);
    width: 260px;
    height: 279px;
}

.addtocart {
    display: none;
    justify-content: center;
    width: 123px;
    height: 39px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    top: 100px;
    left: 70px;
    z-index: 2;
}

.addtocart a {
    font-family: Lato;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
}

.addtocart img {
    width: 23px;
    height: 22px;
    position: relative;
    top: 7px;
    z-index: 2;
}

.item h2 {
    font-family: Lato;
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 17px;
    padding-left: 15px;
}

.item p {
    font-family: Lato;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    padding-left: 15px;
}


/* button under items */

.allporductbutton {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.allporductbutton button {
    background-color: #f16d7f;
    width: 212px;
    height: 48px;
    display: flex;
    justify-content: center;
    border: none;
}

.allporductbutton button a {
    text-decoration: none;
    font-family: Lato;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 46px;
}

.allporductbutton button img {
    width: 15px;
    height: 7px;
    position: relative;
    top: 20px;
    right: -10px;
}

/* board with snow-girl */

.black-board {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.black-left {
    background: url(image/girl-snow.png);
    width: 767px;
    height: 529px;
}

.snow-text {
    width: 290px;
    height: 80px;
    position: relative;
    top: 146px;
    left: 39px;
}

.snow-text h2 {
    font-family: Lato;
    color: #ffffff;
    font-size: 53.62px;
    font-weight: 700;
    text-align: left;
}

.snow-text h2 span {
    font-family: Lato;
    color: #f16d7f;
    font-size: 53.62px;
    font-weight: 700;
    text-align: left;
}

.snow-text h3 {
    font-family: Lato;
    color: #ffffff;
    font-size: 32.17px;
    font-weight: 700;
    text-align: left;
}

/* black part of the poard with snow-girl */

.black-right {
    display: flex;
    flex-wrap: wrap;
    width: 373px;
    height: 529px;
    background-color: black;
}

.delivery:first-child h2 {
    font-family: Lato;
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    padding-top: 55px;
    padding-left: 114px;
}

.delivery:first-child p {
    font-family: Lato;
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    padding-left: 114px;
}

.delivery h2 {
    font-family: Lato;
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    padding-left: 114px;
}

.delivery p {
    font-family: Lato;
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    padding-left: 114px;
}

.delivery:first-child .car {
    width: 45px;
    height: 32px;
    position: relative;
    top: -100px;
    left: 50px;
}

.delivery .discount {
    width: 40px;
    height: 40px;
    position: relative;
    top: -100px;
    left: 50px;
}

.delivery .crown {
    width: 47px;
    height: 35px;
    position: relative;
    top: -100px;
    left: 50px;
}

/*Footer*/


/* comment and subscribe block */

.grey-block {
    display: flex;
    justify-content: center;
    background: url(image/view.png) no-repeat;
    background-position: center;
    height: 440px;
}

.grey-block-items {
    width: 1600px;
    height: 438px;
    background-color: rgba(242, 242, 242, 0.5);
    display: flex;
}

.grey-block-left {
    width: 800px;
    border-right: 5px solid rgba(242, 242, 242, 0.5);
    height: 438px;
    display: flex;
    justify-content: center;
}

.comment img {
    width: 83px;
    height: 83px;
    position: relative;
    right: 120px;
    top: -137px;
}

.comment > p {
    width: 386px;
    height: 68px;
    font-family: Lato;
    color: rgba(34, 34, 36, 0.67);
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    text-align: left;
    margin-top: 130px;
}

.sub-text {
    margin-top: 20px;
}

#name {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}

#addr {
    font-family: Lato;
    color: #222224;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-align: left;

}

.grey-block-right {
    width: 790px;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 148px;

}

.grey-block-right h2 {
    font-family: Lato;
    color: rgba(34, 34, 36, 0.67);
    font-size: 24px;
    font-weight: 400;
    line-height: 54px;
    margin-top: -40px;
}

.grey-block-right h3 {
    font-family: Lato;
    color: rgba(34, 34, 36, 0.67);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 35px;
}

.grey-block-right input {
    background-color: #e1e1e1;
    width: 334px;
    height: 46px;
    font-family: Lato;
    color: rgba(34, 34, 36, 0.67);
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    text-indent: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: none;
}

.grey-block-right button {
    background-color: #f16d7f;
    width: 104px;
    height: 46px;
    position: relative;
    left: -6px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
}

.grey-block-right button a {
    font-family: Lato;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

/*info desc and link  bottom of the site  */

.BRAND-info {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 90px;
}

.BRAND-info-cont {
    width: 1600px;
    display: flex;
    justify-content: center;
}

.brand {
    width: 472px;
}

.brand img {
    width: 59px;
    height: 51px;
}

.brand a {
    font-family: Lato;
    color: #3d3d40;
    font-size: 27px;
    font-weight: 300;
    line-height: 32px;
    text-decoration: none;
}

.brand-text {
    width: 427px;
    height: 180px;
    margin-top: 25px;
}

.brand-text p {
    font-family: Lato;
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.spiski {
    margin-left: 70px;
    margin-right: 70px;
}

.spiski h2 {
    font-family: Lato;
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 45px;
}

.spiski li {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.spiski a {
    text-decoration: none;
    font-family: Lato;
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
}

.spiski a:hover {
    color:#f16d7f;
}

/*the bottom*/

.thebottom {
    display: flex;
    justify-content: center;
}

.bot {
    background-color: #e6e6e6;
    width: 1600px;
    height: 79px;
    display: flex;
}

.bot p {
    font-family: Lato;
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    line-height: 78px;
    padding-left: 228px;
}

.socialIcons {
    display: flex;
    justify-content: space-between;
    width: 191px;
    margin-top: 24px;
    margin-left: 678px;
}

.social {
    background-color: #ffffff;
    width: 32px;
    height: 32px;
}

.social:hover {
    background-color: #f16d7f;
}

.social img {
    padding-left: 12px;
    padding-top: 8px;
}

.social #G {
    position: relative;
    left: -4px;
}
